<a href="https://colab.research.google.com/github/alimalek80/pandas_data_cleaning/blob/main/pandas_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some of the most common data cleaning techniques using Pandas

## 1. Handling Missing Values


1.   **Drop missing values:** Remove rows or columns with missing values.
2.   **Fill missing values:** Replace missing values with a specific value (e.g., mean, median, or a constant).

In [2]:
import pandas as pd
import numpy as np

# Example df
data = {'A': [1, 2, None, 4], 'B': [None, 2, 3, 4]}
df = pd.DataFrame(data)
print('Original df')
print(df)
print("\n")

# Drop rows with missing values
df_dropped = df.dropna()
print('df_dropped')
print(df_dropped)
print("\n")

# fill missing values with 0
df_filled = df.fillna(0)
print('df_filled')
print(df_filled)
print("\n")

# Fill missing values with the mean of column
df_filled_mean = df.fillna(df.mean())
print('df_filled_mean')
print(df_filled_mean)

Original df
     A    B
0  1.0  NaN
1  2.0  2.0
2  NaN  3.0
3  4.0  4.0


df_dropped
     A    B
1  2.0  2.0
3  4.0  4.0


df_filled
     A    B
0  1.0  0.0
1  2.0  2.0
2  0.0  3.0
3  4.0  4.0


df_filled_mean
          A    B
0  1.000000  3.0
1  2.000000  2.0
2  2.333333  3.0
3  4.000000  4.0

## 2. Removing Duplicates

In [3]:
# Example DataFrame
data = {'A': [1, 2, 2, 3], 'B': [4, 5, 5, 6]}
df = pd.DataFrame(data)
print('Original df')
print(df)
print("\n")

# Remove duplicates
df_no_duplicates = df.drop_duplicates()

print('df_no_duplicates')
print(df_no_duplicates)

Original df
   A  B
0  1  4
1  2  5
2  2  5
3  3  6


df_no_duplicates
   A  B
0  1  4
1  2  5
3  3  6

## 3. Renaming Columns

In [4]:
# Example DataFrame
data = {'old_name1': [1, 2, 3], 'old_name2': [4, 5, 6]}
df = pd.DataFrame(data)
print('Original df')
print(df)
print("\n")

# Rename columns
df.rename(columns={'old_name1': 'new_name1', 'old_name2': 'new_name2'}, inplace=True)
print('df_renamed')
print(df)

Original df
   old_name1  old_name2
0          1          4
1          2          5
2          3          6


df_renamed
   new_name1  new_name2
0          1          4
1          2          5
2          3          6

## 4. Changing Data Types

In [5]:
data = {'A': ['1', '2', '3'], 'B': ['4.5', '5.5', '6.5']}
df = pd.DataFrame(data)

# Convert columns to numeric
df['A'] = pd.to_numeric(df['A'])
df['B'] = pd.to_numeric(df['B'])

print(df)
print(df.dtypes)

   A    B
0  1  4.5
1  2  5.5
2  3  6.5
A      int64
B    float64
dtype: object

## 5. Handling Outliers

**Example 1:** Removing Outliers Using the **IQR** Method

In [6]:
data = {
    'value': [10, 15, 14, 18, 95, 12, 17, 13, 100]  # 95 and 100 are outliers
}

df = pd.DataFrame(data)

Q1 = df['value'].quantile(0.25)
Q3 = df['value'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

filtered_df = df[(df['value'] >= lower_bound) & (df['value'] <= upper_bound)]

print("Original DataFrame:")
print(df)
print("\nFiltered DataFrame (Outliers Removed):")
print(filtered_df)

Original DataFrame:
   value
0     10
1     15
2     14
3     18
4     95
5     12
6     17
7     13
8    100

Filtered DataFrame (Outliers Removed):
   value
0     10
1     15
2     14
3     18
5     12
6     17
7     13

**Example 2:** Replacing Outliers with **NaN**

In [7]:
data = {
    'value': [10, 15, 14, 18, 95, 12, 17, 13, 100]  # 95 and 100 are outliers
}

df = pd.DataFrame(data)

# Calculate IQR
Q1 = df['value'].quantile(0.25)
Q3 = df['value'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df['value'] = df['value'].apply(lambda x: np.nan if x < lower_bound or x > upper_bound else x)

print("DataFrame with NaN for Outliers:")
print(df)

DataFrame with NaN for Outliers:
   value
0   10.0
1   15.0
2   14.0
3   18.0
4    NaN
5   12.0
6   17.0
7   13.0
8    NaN

**Example 3:** Capping Outliers to Upper and Lower Bounds

In [8]:
data = {
    'value': [10, 15, 14, 18, 95, 12, 17, 13, 100]  # 95 and 100 are outliers
}

df = pd.DataFrame(data)

# Calculate IQR
Q1 = df['value'].quantile(0.25)
Q3 = df['value'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Cap the outliers
df['value'] = df['value'].apply(lambda x: lower_bound if x < lower_bound else upper_bound if x > upper_bound else x)

print("DataFrame with Capped Values:")
print(df)

DataFrame with Capped Values:
   value
0   10.0
1   15.0
2   14.0
3   18.0
4   25.5
5   12.0
6   17.0
7   13.0
8   25.5

**Example 4:** Identifying Outliers Without Removing Them

In [9]:
data = {
    'value': [10, 15, 14, 18, 95, 12, 17, 13, 100]  # 95 and 100 are outliers
}

df = pd.DataFrame(data)

# Calculate IQR
Q1 = df['value'].quantile(0.25)
Q3 = df['value'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Mark outliers
df['is_outlier'] = df['value'].apply(lambda x: True if x < lower_bound or x > upper_bound else False)

print("DataFrame with Outlier Flag:")
print(df)

DataFrame with Outlier Flag:
   value  is_outlier
0     10       False
1     15       False
2     14       False
3     18       False
4     95        True
5     12       False
6     17       False
7     13       False
8    100        True

## 6. String Cleaning

In [10]:
data = {'A': ['  foo  ', 'BAR', '  Baz  ']}
df = pd.DataFrame(data)

# Strip whitespace and convert to lowercase
df['A'] = df['A'].str.strip().str.lower()
df

     A
0  foo
1  bar
2  baz

## 7. Replacing Values

Methode 1:

In [11]:
data = {'A': [1, 2, 3, -999]}
df = pd.DataFrame(data)

# Replace -999 with NaN
df.replace(-999, None, inplace=True)
df

      A
0     1
1     2
2     3
3  None

Methode 2:

In [12]:
data = {'A': [1, 2, 3, -999]}
df = pd.DataFrame(data)

# Replace -999 with NaN
df['A'] = df['A'].replace(-999, None)

print(df)

      A
0     1
1     2
2     3
3  None

Methode 3:

In [13]:
data = {'A': [1, 2, 3, -999]}
df = pd.DataFrame(data)

# Replace -999 with NaN using loc
df.loc[df['A'] == -999, 'A'] = None

print(df)

     A
0  1.0
1  2.0
2  3.0
3  NaN

## 8.Filtering Rows

In [14]:
data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

# Filter rows where column A > 2
df_filtered = df[df['A'] > 2]
print("Original DataFrame:")
print(df)
print("\nFiltered DataFrame (where A > 2):")
print(df_filtered)

Original DataFrame:
   A  B
0  1  5
1  2  6
2  3  7
3  4  8

Filtered DataFrame (where A > 2):
   A  B
2  3  7
3  4  8

## 9. Handling Inconsistent Data

In [17]:
data = {'A': ['2023-01-01', '01/02/2023', '2023.03.01']}
dff = pd.DataFrame(data)

# Convert to consistent date format
dff['A'] = pd.to_datetime(df['A'], errors='coerce')
print(dff)

           A
0 2023-01-01
1        NaT
2 2023-03-01

to convert all the data to date format need to preprocess the dates to ensure they are in a consistent format

In [16]:
data = {'A': ['2023-01-01', '01/02/2023', '2023.03.01']}
df = pd.DataFrame(data)

df['A'] = df['A'].str.replace('.', '-')
print(df)
df['A'] = df['A'].str.replace('/', '-')
print(df)

df['A'] = pd.to_datetime(df['A'], format='%Y-%m-%d', errors='coerce')
print(df)

            A
0  2023-01-01
1  01/02/2023
2  2023-03-01
            A
0  2023-01-01
1  01-02-2023
2  2023-03-01
           A
0 2023-01-01
1        NaT
2 2023-03-01

## 10. Encoding Categorical Data

In [18]:
data = {'A': ['cat', 'dog', 'cat', 'bird']}
df = pd.DataFrame(data)

df_encoded = pd.get_dummies(df, columns=['A'])
print(df_encoded)

   A_bird  A_cat  A_dog
0   False   True  False
1   False  False   True
2   False   True  False
3    True  False  False

## 11. Splitting Columns

In [19]:
data = {'Name': ['John Doe', 'Jane Smith']}
df = pd.DataFrame(data)

df[['First Name', 'Last name']] = df['Name'].str.split(' ', expand=True)
print(df)

         Name First Name Last name
0    John Doe       John       Doe
1  Jane Smith       Jane     Smith

## 12. Merging/Joining DataFrames

In [21]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [1, 2], 'C': [5, 6]})

df_merged = pd.merge(df1, df2, on='A')
print(df_merged)

   A  B  C
0  1  3  5
1  2  4  6

## 13. Reshaping Data

In [24]:
data = {'Date': ['2023-01-01', '2023-01-02'], 'Type': ['A', 'B'], 'Value': [10, 20]}
df = pd.DataFrame(data)
print('Original df')
print(df)
print("\n")

# Pivot the DataFrame
df_pivot = df.pivot(index='Date', columns='Type', values='Value')
print(df_pivot)

Original df
         Date Type  Value
0  2023-01-01    A     10
1  2023-01-02    B     20


Type           A     B
Date
2023-01-01  10.0   NaN
2023-01-02   NaN  20.0

## 14. Handling Inconsistent Indexes

In [28]:
# Reset or reindex the DataFrame.
data = {'A': [1, 2, 3]}
df = pd.DataFrame(data, index=[2, 1, 0])
print('Original df')
print(df)
print("\n")

df_reindexed = df.reset_index(drop=True)
print('df reindexed')
print(df_reindexed)

Original df
   A
2  1
1  2
0  3


df reindexed
   A
0  1
1  2
2  3

## 15. Removing Unnecessary Columns

In [29]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
print('Original df')
print(df)
print("\n")

df_dropped = df.drop(columns=['C'])
print('df_dropped')
print(df_dropped)

Original df
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9


df_dropped
   A  B
0  1  4
1  2  5
2  3  6